.container {
  margin-bottom: 100px;
}
.container-botom {
  margin-bottom: 27px;
}
.pink-bg {
  background-color: #fceae8;
  border-radius: 10px;
}
.carousel-control-next,
.carousel-control-prev {
  width: 4%;
}
.carousel-control-next-icon {
  background-color: black;
}
.carousel-control-prev-icon {
  background-color: black;
}
.carousel-item {
  padding: 20px 40px;
}
.carousel img {
  width: 100%;
}
.pink-price {
  color: #ff136f;
}
.btn-buy {
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  border: none;
  padding: 9px 25px;
  cursor: pointer;
  color: white;
  border-radius: 8px;
}
.cat1,
.cat2,
.cat3 {
  padding: 10px 30px;
  border-radius: 10px;
}
.cat1 {
  background-color: orange;
}
.cat2 {
  background-color: #ff136f;
}
.cat3 {
  background-color: blue;
}
.pointer {
  cursor: pointer;
  margin-top: 30px;
}
.categories h1 {
  color: white;
}
.categories img {
  width: 100px;
}
.categories a {
  text-decoration: none;
}
.card-box {
  border: none;
  box-shadow: -2px 2px 37px -20px grey;
  padding-bottom: 15px;
  padding-top: 7px;
  border-radius: 10px;
  width: 95%;
}
.shoes-btn {
  margin-top: 5px;
}
.card-footer {
  background-color: white;
  border-top: none;
}
.card {
  border-radius: 10px;
  box-shadow: -2px 2px 37px -20px grey;
  border: none;
}
.card-footer .shoes-btn {
  margin-bottom: 20px;
}
#subcribe {
  height: 300px;
}
#subcribe h6 {
  color: gray;
}
.btn-subc {
  margin-top: 10px;
}
footer {
  text-align: center;
}
.row-height {
  height: 500px;
}

@media (max-width: 767px) {
  .row-height img {
    height: 300px;
  }
}
@media (max-width: 400px) {
  .row-height img {
    height: 200px;
  }
}
